@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(to bottom, rgb(187, 210, 197),
    rgb(83, 105, 118));
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.heading {
    color: green;
}

.title {
    font-weight: 400;
    letter-spacing: 1.5px;
}

.container {
    height: 600px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 20px #4f7480;
    position: relative;
    overflow: hidden;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height:150px;
    margin-top: 50px;
}
.logo img{
    height: 150%;
    width: auto;
    
}
.admin-page {
    text-align: center;
    font-size: 24px;
    color:#4f7480 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 20px rgb(187, 210, 200);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.login {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
    left: 0px;
    height: 450px; /* Adjust the height value as needed */
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    gap: 40px;
    height: 300px; /* Adjust the height value as needed */
}



.ele {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}

.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
    rgb(187, 210, 197),
    rgb(83, 105, 118));
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.clkbtn:hover{
    color: #4f7480;
}
/* For Responsiveness of the page */

@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }

    .title {
        font-size: 15px;
    }

    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .login {
        font-size: 19px;
    }

    .form-section {
        height: 500px;
        width: 600px;
    }

    .form-section-move {
        left: -300px;
    }

    .login-box {
        height: 100%;
        width: 300px;
    }

    .ele {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }

    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }

    .heading {
        font-size: 30px;
    }

    .title {
        font-size: 10px;
    }

    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .login {
        font-size: 19px;
    }

    .form-section {
        height: 500px;
        width: 500px;
    }

    .form-section-move {
        left: -250px;
    }

    .login-box{
        height: 100%;
        width: 250px;
    }

    .ele {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }

    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}


.form__link:hover {
    text-decoration: underline;
}